<md-content class="md-padding" layout="column">

    <p class="info">
        <button ng-click="test1()">
            Test 1
        </button>
        <button ng-click="test2()">
            Test 2
        </button>
        <button ng-click="test3()">
            Test 3
        </button>      
        <br>
        <button ng-click="playlists()">
            playlists
        </button>
        <br/>
        Result:
        <textarea>{{result}}</textarea>
        <input placeholder="playlist" ng-model="playlist">
    </p>

    Drop-down button:
    Paste this into button:

    <a href="#" aria-expanded="true">
        <i class="fa fa-caret-down"></i>
    </a>

    <style>
        .drop-down a {
            cursor: pointer;
            padding: 8px 15px 8px 13px;
            margin-left: 9px;
            color: #eee;
            border-left: 1px solid rgba(220,220,220,0.25);
        }
    </style>

    <br/><br/>
</md-content>