<md-toast>
    <div>
        <div class="head">Replace Spotiplay queue?</div>
        You made changes in playlist "Spotiplay queue"<br/>
        Do you want to replace it? (changes will be lost)<br/>
        If you want to keep your changes, <br/>
        simply rename "Spotify queue" to something else
    </div>
    <div layout="column">
        <md-button ng-click="accept()">
            Replace
        </md-button>
        <md-button ng-click="cancel()">
            Cancel
        </md-button>
    </div>
</md-toast>